@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    

.wrapper{
  margin: 0 200px;
  justify-content: center;
}
.img_wrapper,.ul_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper>div>img{
  margin-top: 100px;
  margin-bottom: 30px;
  max-width: 600px;
  border-radius: 10px;
}
.wrapper>div{
  width: 100%;
}   
.li_wrapper, li{      
  width: 400px;
  font-family: 'Jua', sans-serif;
  margin-top: 10px;      
}

.li_wrapper div, input{
  width: 100%;
  height: 23px;
  margin-top: 5px;
}
input{
  border-style: none;
  border-bottom: 1px solid;
}
.li_wrapper>li:nth-child(1){
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.submitBtn{
  border: 2px solid;
  border-radius: 10px;
  height: 30px;
}
.li_wrapper>ol>li>input{
  width: 50px;      
}

.li_wrapper>ol{
  width: 100%;
  display: flex;
  justify-content: center;
}
.li_wrapper>ol>li{
  width: 280px;
  margin: 0;
}
.li_wrapper>ol>li{
  margin-bottom: 30px;
}
#exId{
  display: none;
}